<!DOCTYPE html>
<html>
    {{> header}}
    <body>
        <h1>{{welcomeMsg}}</h1>
        <a href="/about">Move to About Us</a>
        <a href="/project">Move to Projects</a>
        {{> footer}}
    </body>
</html>